@layout('layouts.dashboard')

@section('header')

@endsection

@section('content')
<div class="kt-portlet">
  <div class="kt-portlet__body kt-portlet__body--fit">
    <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
      <div class="kt-grid__item">

      </div>
    </div>
  </div>
</div>
@endsection